link(rel="import", href="../bower/iron-resizable-behavior/iron-resizable-behavior.html")
link(rel="import", href="../bower/app-layout/app-header/app-header.html")
link(rel="import", href="../bower/app-layout/app-toolbar/app-toolbar.html")
link(rel="import", href="../bower/paper-tabs/paper-tabs.html")
link(rel="import", href="../bower/iron-pages/iron-pages.html")
link(rel="import", href="../bower/app-route/app-location.html")
link(rel="import", href="../bower/app-route/app-route.html")
link(rel="import", href="../bower/polymerfire/polymerfire.html")
link(rel="import", href="../bower/polymerfire/firebase-auth.html")

link(rel="import", href="zacharyrs-admin.html")
link(rel="import", href="zacharyrs-mobile-menu.html")
link(rel="import", href="zacharyrs-contactme.html")
link(rel="import", href="zacharyrs-blog.html")

link(rel="import", href="styles/zacharyrs-app.html")
link(rel="stylesheet", type="text/css", href="../bower/smooth-scrollbar/dist/smooth-scrollbar.css")

dom-module#zacharyrs-app
  template
    style(is="custom-style", include="shared-styles").
      app-header {
        width: 100vw;
        height: 132px;
        color: #fff;
        transform: none !important;
        @apply(--layout-fixed-top);
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.95);
        --app-header-shadow: {
          box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.2);
          height: 10px;
          bottom: -10px;
        };
      }

      paper-tabs {
        color: #656D78;
        --paper-tabs-selection-bar-color: var(--theme-light);
        margin: 0 20vw 0 20vw;
      }

      paper-tab {
        margin: 0 30px;
        font-size: 0.6cm;
      }

      :host {
        display: block;
        position: relative;
      }

      iron-pages {
        position: absolute;
        padding-top: 142px;
        min-height:  calc(100vh - 142px);
        width: 100vw;
      }

      app-toolbar {
        margin-bottom: 20px;
      }

      app-toolbar.mobile {
        display: none;
      }

      .wrapper {
        position: absolute;
        width: 100vw;
        height: 100vh;
      }

      .scrollbar-track:hover {
        background: var(--theme-grey-light);
      }

      .scrollbar-thumb {
        background: var(--theme-dark);
      }

      @media handheld, only screen and (max-width: 1080px) {
        app-header {
          height: 82px;
        }

        iron-pages {
          padding-top: 0;
          height:  100vh;
        }

        app-toolbar {
          margin-bottom: 8px;
        }

        app-toolbar {
          display: none;
        }

        app-toolbar.mobile {
          display: initial;
        }
      }

    firebase-app(
      name="zacharyrs",
      auth-domain="zacharyrs-me.firebaseapp.com",
      database-url="https://zacharyrs-me.firebaseio.com",
      api-key="AIzaSyCXJ2wFGr9hjKBbeGltrfuSQ8XoL06U8Tc",
      messaging-sender-id="591464613003"
    )

    app-location(route="{{route}}")
    app-route(
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}"
    )

    app-header
      app-toolbar
        h2.logo.
          zacharyrs
      paper-tabs(
        attr-for-selected="name",
        selected="{{data.page}}",
        noink
      )
        paper-tab(name="blog").
          blog
        paper-tab(name="portfolio").
          portfolio
        paper-tab(name="about").
          about me
        paper-tab(name="contact").
          contact me
    zacharyrs-mobile-menu(
      attr-for-selected="name",
      selected="{{data.page}}"
    )
      div(name="blog").
        blog
      div(name="portfolio").
        portfolio
      div(name="about").
        about me
      div(name="contact").
        contact me
    div.wrapper(data-scrollbar)
      app-toolbar.mobile
        h2.logo.
          zacharyrs
      iron-pages(
        selected="[[data.page]]",
        attr-for-selected="name",
        selected-attribute="visible",
        fallback-selection="not-found"
      )
        zacharyrs-blog(name="blog")
        div(name="portfolio").
          PORTFOLIO APP HERE
        div(name="about").
          ABOUT ME APP HERE
        zacharyrs-contactme(name="contact")
        div(name="not-found").
          404 PAGE HERE
        zacharyrs-admin(
          name="admin",
          signed-in="[[signedIn]]"
        )
  script(type="text/javascript").
      'use strict';

      class HomePage {
          get behaviors() {
              return [Polymer.IronResizableBehavior];
          }

          beforeRegister() {
              this.is = 'zacharyrs-app';
              this.properties = {
                  data: {
                      type: Object
                  },
              };
              this.observers = [
                  '_onRoutePathChanged(route.path)'
              ];
              this.listeners = {
                  'iron-resize': '_reRender'
              };
          }
          created() {}
          ready() {
              const scrollbar = Scrollbar.initAll({'speed':0.8, 'overscrollEffect':'bounce', 'overscrollDamping':0.2});
              for (let i of document.querySelectorAll('.scrollbar-track, .scrollbar-thumb, .scrollbar-content')) {
                  i.classList.add('zacharyrs-app');
              }
          }
          attached() {}
          detached() {}
          attributeChanged() {}

          _reRender() {
              Polymer.updateStyles();
          }

          _onRoutePathChanged(path) {
              if (!path || path == '/') {
                this.set('route.path', '/blog');
              };
          };
      }

      Polymer(HomePage);
