link(rel="import", href="../bower/polymer/polymer.html")
link(rel="import", href="../bower/iron-resizable-behavior/iron-resizable-behavior.html")
link(rel="import", href="../bower/app-layout/app-header/app-header.html")
link(rel="import", href="../bower/app-layout/app-toolbar/app-toolbar.html")
link(rel="import", href="../bower/paper-tabs/paper-tabs.html")
link(rel="import", href="../bower/app-route/app-location.html")
link(rel="import", href="../bower/app-route/app-route.html")
link(rel="import", href="../bower/iron-pages/iron-pages.html")
link(rel="import", href="../bower/polymerfire/polymerfire.html")
link(rel="import", href="../bower/polymerfire/firebase-query.html")

link(rel="import", href="zacharyrs-mobile-menu.html")
link(rel="import", href="zacharyrs-contactme.html")
link(rel="import", href="zacharyrs-aboutme.html")
link(rel="import", href="zacharyrs-404.html")
link(rel="import", href="zacharyrs-blog.html")
link(rel="import", href="zacharyrs-blogpost.html")
link(rel="import", href="zacharyrs-user.html")
link(rel="import", href="zacharyrs-notice.html")
//- link(rel="import", href="zacharyrs-showdown.html")

link(rel="import", href="styles/zacharyrs-app.html")

dom-module#zacharyrs-app
  template
    style(is="custom-style", include="shared-styles").
      app-header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 132px;
        color: #fff;
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.95);
        --app-header-shadow: {
          box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.2);
          height: 10px;
          bottom: -10px;
        };
      }

      paper-tabs {
        margin: 0 20vw 0 20vw;
      }

      paper-tab {
        margin: 0 30px;
        width: 20vw;
        font-size: 24px;
        --paper-tab-ink: var(--theme-grey-medium);
        --paper-tab-content-unselected: {
          opacity: 0.54 !important;
          font-weight: 400 !important;
        };
        --paper-tab-content: {
          font-weight: 400 !important;
        };
      }

      :host {
        display: block;
        position: relative;
      }

      div#header-pad {
        display: block;
        height: calc(132px);
        width: 100vw;
      }

      div#footer-pad {
        display: block;
        height: calc(132px / 2);
        width: 100vw;
      }

      app-toolbar {
        margin-bottom: 20px;
      }

      app-toolbar.mobile {
        display: none;
      }

      #wrapper {
        position: absolute;
        width: 100vw;
        height: 100vh;
      }

      @media handheld, only screen and (max-width: 1080px) {
        app-header {
          height: 82px;
        }

        app-toolbar {
          margin-bottom: 8px;
        }

        app-toolbar {
          display: none;
        }

        app-toolbar.mobile {
          display: initial;
        }

        div#header-pad {
          height: calc(96vw / 2 * 0.05);
        }

        div#footer-pad {
          height: calc(calc(96vw / 2 * 0.05) / 2);
        }
      }

      @media handheld, only screen and (max-width: 640px) {
        div#header-pad {
          height: calc(96vw / 1 * 0.05);
        }

        div#footer-pad {
          height: calc(calc(96vw / 1 * 0.05) / 2);
        }
      }

    firebase-app(
      name="zacharyrs",
      auth-domain="zacharyrs-me.firebaseapp.com",
      database-url="https://zacharyrs-me.firebaseio.com",
      api-key="AIzaSyCXJ2wFGr9hjKBbeGltrfuSQ8XoL06U8Tc",
      messaging-sender-id="591464613003"
    )

    app-location(route="{{route}}")
    app-route(
      route="{{route}}",
      pattern="/:page",
      data="{{data}}"
    )
    app-route(
      route="{{route}}",
      pattern="/post",
      tail="{{postRoute}}"
    )
    app-route(
      route="{{route}}",
      pattern="/user",
      tail="{{userRoute}}"
    )

    firebase-query(
      id="query",
      app-name="zacharyrs",
      path="/notifications",
      data="{{notifications}}"
    )

    app-header(fixed)
      app-toolbar
        h1.logo.
          zacharyrs
      paper-tabs(
        attr-for-selected="name",
        selected="{{data.page}}"
      )
        paper-tab(name="blog").
          blog
        //- paper-tab(name="portfolio").
        //-   portfolio
        paper-tab(name="about").
          about me
        paper-tab(name="contact").
          contact me
    //- zacharyrs-mobile-menu(attr-for-selected="name", selected="{{data.page}}")
      div(name="blog").
        blog
      //- div(name="portfolio").
        portfolio
      div(name="about").
        about me
      div(name="contact").
        contact me
    div#wrapper(data-scrollbar)
      app-toolbar.mobile
        h1.logo.
          zacharyrs
      div#header-pad
      template(is="dom-repeat", items="[[notifications]]", as="notification")
        zacharyrs-notice(notification="[[notification.content]]")
      iron-pages(
        selected="[[data.page]]",
        attr-for-selected="name",
        selected-attribute="visible",
        fallback-selection="not-found"
      )
        zacharyrs-blog(name="blog", on-open-post="_openPost")
        zacharyrs-blogpost(name="post", route="{{postRoute}}")
        zacharyrs-user(name="user", route="{{userRoute}}", on-open-post="_openPost")
        //- div(name="portfolio").
          PORTFOLIO APP HERE
        zacharyrs-aboutme(name="about")
        zacharyrs-contactme(name="contact")
        zacharyrs-404(name="not-found")
      div#footer-pad
  script(type="text/javascript").
      'use strict';

      class HomePage {
          get behaviors() {
              return [Polymer.IronResizableBehavior];
          }

          beforeRegister() {
              this.is = 'zacharyrs-app';
              this.properties = {};
              this.observers = [
                  '_onRoutePathChanged(route.path)'
              ];
              this.listeners = {
                  'iron-resize': '_reRender'
              };
          }
          created() {}
          ready() {
              const client = new ClientJS();
              if(!client.isMobile()) {
                  const scrollbar = Scrollbar.init(document.getElementById('wrapper'), {'speed':0.8, 'overscrollEffect':'bounce', 'overscrollDamping':0.2});
                  for (let i of document.querySelectorAll('.scrollbar-track, .scrollbar-thumb, .scrollbar-content')) {
                      i.classList.add('zacharyrs-app');
                  }
                  scrollbar.addListener((status) => {
                      console.log(status.direction.y, status.offset.y === 0, status.offset.y === status.limit.y, status.offset.y);
                      //- Set up to add and remove header classes
                  })
              }
          }
          attached() {}
          detached() {}
          attributeChanged() {}

          _reRender() {
              Polymer.updateStyles();
          }

          _onRoutePathChanged(path) {
              if (!path || path == '/') {
                  this.set('route.path', '/blog');
              };
          }

          _openPost(e) {
              this.set('route.path', e.detail.link);
          }
      }

      Polymer(HomePage);
