link(rel="import", href="../bower/polymerfire/firebase-auth.html")
link(rel="import", href="../bower/neon-animation/neon-animation.html")

link(rel="import", href="zacharyrs-login.html")

link(rel="import", href="styles/zacharyrs-app.html")

dom-module#zacharyrs-admin
  template
    style(is="custom-style", include="shared-styles")
    firebase-auth(
      app-name="zacharyrs",
      id="auth",
      provider="github",
      signed-in="{{signedIn}}",
      user="{{user}}"
    )
    template(is="dom-if", if="[[signedIn]]")
      div.
        Signed in as [[user.email]].
    zacharyrs-login(
      on-sign-in="signIn",
      on-sign-out="signOut",
      signed-in="[[signedIn]]"
    )
  script(type="text/javascript").
      'use strict';

      class AdminPage {
          get behaviors() {
              return [Polymer.NeonAnimationRunnerBehavior];
          }

          beforeRegister() {
              this.is = 'zacharyrs-admin';
              this.properties = {
                  signedIn: {
                      type: Boolean,
                      reflectToAttribute: true,
                      value: false
                  },
                  visible: {
                      type: Boolean,
                      value: false
                  },
                  animationConfig: {
                      value: function() {
                          return {
                              'entry': [
                                  {
                                      name: 'fade-in-animation',
                                      node: this
                                  }
                              ],
                              'exit': [
                                  {
                                      name: 'fade-out-animation',
                                      node: this
                                  }
                              ]
                          }
                      }
                  }
              };
          }
          created() {}
          ready() {}
          attached() {}
          detached() {}
          attributeChanged() {}

          signIn() {
              this.$.auth.signInWithPopup();
          };

          signOut() {
              if (this.$.auth) {
                  this.$.auth.signOut();
              }
          };
      }

      Polymer(AdminPage);
