link(rel="import", href="../bower/iron-flex-layout/iron-flex-layout-classes.html")
link(rel="import", href="../bower/iron-ajax/iron-ajax.html")
link(rel="import", href="../bower/app-route/app-route.html")
link(rel="import", href="../bower/polymerfire/firebase-query.html")

link(rel="import", href="styles/zacharyrs-app.html")
link(rel="import", href="zacharyrs-blogbox.html")

dom-module#zacharyrs-user
  template
    style(is="custom-style", include="shared-styles iron-flex").
      .container {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        margin: 0 2vw 0 2vw;
      }

      zacharyrs-blogbox {
        --width: calc(96vw / 3);
        --height: calc(96vw / 3);
      }

      @media handheld, only screen and (max-width: 1080px) {
        zacharyrs-blogbox {
          --width: calc(96vw / 2);
          --height: calc(96vw / 2);
        }
      }

      @media handheld, only screen and (max-width: 640px) {
        zacharyrs-blogbox {
          --width: calc(96vw / 1);
          --height: calc(96vw / 1);
        }
      }

      zacharyrs-blogbox.full {
        --width: calc(96vw);
        --height: calc(96vw);
      }

    app-route(
      route="{{route}}",
      pattern="/:userId",
      data="{{data}}"
    )
    firebase-query(
      id="postQuery",
      app-name="zacharyrs",
      path="/users/[[data.userId]]/posts",
      data="{{blog-data}}"
    )
    section.container
      template(is="dom-repeat", items="[[blog-data]]", as="post")
        template(is="dom-if", if="[[post.content.show]]")
          zacharyrs-blogbox.mini(post="[[post.content]]")
  script(type="text/javascript").
      'use strict';

      class UserPage {
          beforeRegister() {
              this.is = 'zacharyrs-user';
              this.properties = {
                  data: {
                      type: Object,
                  }
              };
              this.observers = [
                  '_changedPage(data.userId)'
              ]
          }
          created() {}
          ready() {}
          attached() {}
          detached() {}
          attributeChanged() {}

          _changedPage(userId) {
              this.$.postQuery.path = null;
              this.$.postQuery.path = '/users/' + this.data.userId + '/posts';
          }
      }

      Polymer(UserPage);
